{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{contract.customer.customer_name}} {{contract.service.service_name}} Recognition Schedule{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="contracts-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Deferred Revenue Increase</th>
        <th>Deferred Revenue Decrease</th>
        <th>Income</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for event in recognition_events %}
        <tr>
          <td>{{ event.date }}</td>
          <td>{{ event.increase }}</td>
          <td>{{ event.decrease }}</td>
          <td>{{ event.income }}</td>
          <td> {{ event.balance }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{{ url_for('schedules.delete_schedule', contract_id=contract.contract_id) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>

  <form action="{{ url_for('schedules.update_schedule', contract_id=contract.contract_id) }}" method="post">
    <input type="submit" value="Update" >
  </form>

  <form action="{{ url_for('contracts.edit', contract_id=contract.contract_id) }}" method="get">
    <input type="submit" value="Edit Contract" >
  </form>
{% endblock %}