{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Monthly Report for {{month_str}} {{year}} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <table class="contracts-table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Service</th>
        <th>Date</th>
        <th>Deferred Revenue Increase</th>
        <th>Deferred Revenue Decrease</th>
        <th>Income</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for event in recognition_events %}
        <tr>
          <td>{{ event.customer.customer_name }}</td>
          <td>{{ event.service.service_name}}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.increase }}</td>
          <td>{{ event.decrease }}</td>
          <td>{{ event.income }}</td>
          <td> {{ event.balance }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}