{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Monthly Report for {{start}} until {{end}} {% endblock %}</h1>
  <form action="{{ url_for('schedules.sort_by_range') }}" method="get">
    <label class="date-label" for="start-date">Start Date</label>
    <input type="date" id="start-date" name="start-date" min="1/1/2010" max="1/1/2040" required>
    <label class="date-label" for="end-date">End Date</label>
    <input type="date" id="end-date" name="end-date" min="1/1/2010" max="1/1/2040" required>
    <input type="submit" value="Sort" >
  </form>
{% endblock %}

{% block content %}
  <table class="contracts-table">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Service</th>
        <th>Date</th>
        <th>Deferred Revenue Increase</th>
        <th>Deferred Revenue Decrease</th>
        <th>Income</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for event in recognition_events %}
        <tr>
          <td>{{ event.customer.customer_name }}</td>
          <td>{{ event.service.service_name}}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.increase }}</td>
          <td>{{ event.decrease }}</td>
          <td>{{ event.income }}</td>
          <td> {{ event.balance }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}